<table class="table table-striped">
  <thead class="thead-light">
    <tr><th>&nbsp;</th><th colspan="4" class="text-center">Water</th><th colspan="4" class="text-center">Sewer</th></tr>
    <tr><th>&nbsp;</th><th>Multiplier</th><th>Base</th><th>Loan</th><th>Consumption</th><th>Multiplier</th><th>Base</th><th>Loan</th><th>Consumption</th></tr>
  </thead>
  <tbody>
    <tr>
      <td>3/4"</td>
      <td>1</td>
      <td>$29.50</td>
      <td>$9.80</td>
      <td>$1.80/1000</td>
      <td>1</td>
      <td>$26.90</td>
      <td>$22.05</td>
      <td>$2.60/1000</td>
    </tr>
    <tr>
      <td>1"</td>
      <td>1.4</td>
      <td>$41.30</td>
      <td>$13.72</td>
      <td>$1.80/1000</td>
      <td>1.67</td>
      <td>$44.84</td>
      <td>$36.76</td>
      <td>$2.60/1000</td>
    </tr>
    <tr>
      <td>1 1/2"</td>
      <td>1.8</td>
      <td>$53.10</td>
      <td>$17.64</td>
      <td>$1.80/1000</td>
      <td>3.33</td>
      <td>$89.66</td>
      <td>$73.49</td>
      <td>$2.60/1000</td>
    </tr>
    <tr>
      <td>2"</td>
      <td>2.9</td>
      <td>$85.55</td>
      <td>$28.42</td>
      <td>$1.80/1000</td>
      <td>5.33</td>
      <td>$143.46</td>
      <td>$117.59</td>
      <td>$2.60/1000</td>
    </tr>
    <tr>
      <td>3"</td>
      <td>11</td>
      <td>$324.50</td>
      <td>$107.80</td>
      <td>$1.80/1000</td>
      <td>10</td>
      <td>$286.94</td>
      <td>$235.21</td>
      <td>$2.60/1000</td>
    </tr>
    <tr>
      <td>4"</td>
      <td>14</td>
      <td>$413.00</td>
      <td>$137.20</td>
      <td>$1.80/1000</td>
      <td>16.67</td>
      <td>$448.34</td>
      <td>$367.51</td>
      <td>$2.60/1000</td>
    </tr>
  </tbody>
</table>
