<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/" style="padding:0;">
      <img src="/images/Utility Rates Banner.svg" style="height:38px;" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain"
      aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav mr-auto">
        {%- for item in site.data.nav.items -%}
        {%- if item.title -%}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="{{ item.id }}Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ item.title }}
          </a>
          <div class="dropdown-menu" aria-labelledby="{{ item.id }}Dropdown">
            {% for subitem in item.subitems %}
            <a class="dropdown-item{% if page.permalink == subitem.url %} active{% endif %}" href="{{ subitem.url }}">{{ subitem.page }}</a>
            {% endfor %}
          </div>
        </li>
        {%- else -%}
        <li class="nav-item{% if page.permalink == item.url %} active{% endif %}">
          <a class="nav-link" href="{{ item.url }}">{{ item.page }}</a>
        </li>
        {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
  </div>
</nav>
