<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- icons, theme and seo tags -->
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <meta name="theme-color" content="#3E3F3A">
  {%- seo -%}
  
  <!-- analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123980059-4"></script>
  <script async src="/js/analytics.js"></script>

  <!-- sticky polyfill -->
  {%- if page.menu != false -%}
  <script src="https://cdn.jsdelivr.net/npm/stickyfilljs@2.1.0/dist/stickyfill.min.js" integrity="sha256-Duz0kSQfOd2hKIZtlmd8xYuqQlAKEEJnSPYYSfLarVQ=" crossorigin="anonymous"></script>
  {%- endif -%}
  
  <!-- polyfills -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=Promise%2CElement.prototype.append%2Cfetch" crossorigin="anonymous"></script>

  <!-- charting libs (must load in head for inline scripts) -->
  {%- if page.charts != false -%}
  <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.0/papaparse.min.js" integrity="sha256-Xjq9HM9n3XzT47n/NmSEaJUwPi7hme++D8mxHfSr+0Q=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0/moment.min.js" integrity="sha384-CJyhAlbbRZX14Q8KxKBt0na1ad4KBs9PklAiNk2Efxs9sgimbIZm9kYLJQeNMUfM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0/dist/chartjs-plugin-datalabels.min.js" integrity="sha256-3kSXcicezu2sKkkqQae/hgspQC+t6zkOA0rS7QtlSyE=" crossorigin="anonymous"></script>
  {%- endif -%}

  <!-- arcgis rest -->
  {%- if page.arcgis -%}
  <script src="https://cdn.jsdelivr.net/npm/@esri/arcgis-rest-request@2.17.0/dist/umd/request.umd.min.js" integrity="sha256-eWeErQOlp/MvaN0rstNTc7NNKOsttaf7ILZ+xqk2Z9E=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@esri/arcgis-rest-feature-layer@2.17.0/dist/umd/feature-layer.umd.min.js" integrity="sha256-XP5F5+6jDgjK4KTQgJ/up1CVDLYWGRQjrPAD+G4AzOc=" crossorigin="anonymous"></script>
  {%- endif -%}

  <!-- font awesome and main css -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
</head>