---
layout: default
---
<h1 data-fiscal-year="{{ page.fiscal }}">Fiscal Year {{ page.fiscalText }} Rate Performance</h1>

<h2>Required Revenue</h2>

<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th class="text-center">Water Base</th>
      <th class="text-center">Water Consumption</th>
      <th class="text-center">Water Loan</th>
      <th class="text-center">Sewer Base</th>
      <th class="text-center">Sewer Consumption</th>
      <th class="text-center">Sewer Loan</th>
    </tr>
  </thead>
  <tbody>
    <tr data-required-revenue></tr>
  </tbody>
</table>

<p class="text-muted"><small>See <a href="/calculators/rates/">Rate Calculator</a> for more information about revenue requirements are calculated.</small></p>

<h2>Utility Rates</h2>

<table class="table table-striped">
  <thead class="thead-light">
    <tr><th>&nbsp;</th><th colspan="4" class="text-center">Water</th><th colspan="4" class="text-center">Sewer</th></tr>
    <tr><th>&nbsp;</th><th>Multiplier</th><th>Base</th><th>Loan</th><th>Consumption</th><th>Multiplier</th><th>Base</th><th>Loan</th><th>Consumption</th></tr>
  </thead>
  <tbody data-rates></tbody>
</table>

<h2>Water Rate Performance</h2>

<canvas class="chart" data-chart-water-revenue></canvas>

<p class="text-muted"><small><strong>Note:</strong> Revenue information only reflects billed revenue, multipliers and consumption. It does not include adjustments, late fees or other over the counter receipts; nor does it reflect in any way the current state of the budget.</small></p>

<canvas class="chart" data-chart-water-projection></canvas>

<p class="text-muted"><small><strong>Note:</strong> Projections are based on billed revenue to date. Due to seasonal fluctuations in customers and consumption, projected revenue values will become more accurate as the fiscal year progresses.</small></p>

<canvas class="chart" data-chart-water-accumulative></canvas>

{%- if page.waterAccumulativeNote -%}
<p class="text-muted"><small><strong>Note:</strong> {{ page.waterAccumulativeNote }}</small></p>
{%- endif -%}

<canvas class="chart" data-chart-water-split></canvas>

<p class="text-muted"><small><strong data-water-split-avg>0%/0%</strong> average water base/consumption split.</small></p>

<canvas class="chart" data-chart-water></canvas>

<p class="text-muted"><small><strong data-water-multipliers-count>0 (0/month)</strong> billed water count multipliers up to the current month of the fiscal year.</small></p>

<p class="text-muted"><small><strong data-water-multipliers-revenue>0 (0/month)</strong> billed water revenue multipliers up to the current month of the fiscal year.</small></p>

<p class="text-muted"><small><strong data-water-consumption>0</strong> gallons of billed water consumption up to the current month of the fiscal year.</small></p>

<p class="text-muted"><small>See <a href="/statistics/multipliers-consumption/">Multiplier &amp; Consumption Statistics</a> for more information about these statistics and long term trends.</small></p>

<h2>Sewer Rate Performance</h2>

<canvas class="chart" data-chart-sewer-revenue></canvas>

<p class="text-muted"><small><strong>Note:</strong> Revenue information only reflects billed revenue, multipliers and consumption. It does not include adjustments, late fees or other over the counter receipts; nor does it reflect in any way the current state of the budget.</small></p>

<canvas class="chart" data-chart-sewer-projection></canvas>

<p class="text-muted"><small><strong>Note:</strong> Projections are based on billed revenue to date. Due to seasonal fluctuations in customers and consumption, projected revenue values will become more accurate as the fiscal year progresses.</small></p>

<canvas class="chart" data-chart-sewer-accumulative></canvas>

<canvas class="chart" data-chart-sewer-split></canvas>

<p class="text-muted"><small><strong data-sewer-split-avg>0%/0%</strong> average sewer base/consumption split.</small></p>

<canvas class="chart" data-chart-sewer></canvas>

<p class="text-muted"><small><strong data-sewer-multipliers-count>0 (0/month)</strong> billed sewer count multipliers up to the current month of the fiscal year.</small></p>

<p class="text-muted"><small><strong data-sewer-multipliers-revenue>0 (0/month)</strong> billed sewer revenue multipliers up to the current month of the fiscal year.</small></p>

<p class="text-muted"><small><strong data-sewer-consumption>0</strong> gallons of billed sewer consumption up to the current month of the fiscal year.</small></p>

<p class="text-muted"><small>See <a href="/statistics/multipliers-consumption/">Multiplier &amp; Consumption Statistics</a> for more information about these statistics.</small></p>

<script src="/js/app-main.js"></script>
<script src="/rate-performance/rate-performance.js"></script>